@import "tailwindcss";

@font-face {
    font-family: "OrganicFont";
    src: url("/fonts/your-font-file.woff2") format("woff2");
  }
  
  .font-organic {
    font-family: "OrganicFont", sans-serif;
  }